i{
    cursor: pointer;
    color: gray;
    transition: color 250ms;
}
i:hover{
    color: black;
}
.message{
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    animation: fade 1500ms 1;
    opacity: 0;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.message_error{
    background-color: rgb(255, 240, 240);
    color: rgb(168, 14, 14);
}
.message_success{
    background-color: rgb(237, 250, 246);
    color: green;
}